<div>
	<p>
		Rails Girls 54 is a project by the Free University of Bolzano Bozen to bring the Rails Girls initiative to Bolzano-Bozen.
		<br /> Based on the original idea of <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> we are bringing tools and knowledge to your city that help you realizing your ideas.
	</p>
	<blockquote cite="http://railsgirls.com/">
		Learn sketching, prototyping, basic programming and get introduced to the world of technology. Rails Girls was born in Finland, but is nowadays a global, non-profit volunteer community.
	</blockquote>
</div>
<div>
	<h3>Join us</h3>
	<p>
		Never miss an update and like us on <a class="btn btn-default btn-sm btn-fcb" href="https://www.facebook.com/railsgirls54" target="_blank" title="rg54 on Facebook">&hearts; Facebook &hearts;</a>. Fotos, videos, material and other interesting things wil be published on our Facebook Page.
	</p>
</div>
