<h2>Events</h2>
<ul class="list-unstyled">
	<li class="event" ng-repeat="event in events">
		<h3>{{event.title}}</h3>
		<p class="time">
			<time datetime="{{event.start}}">{{event.start | date}}</time> -
			<time datetime="{{event.end}}">{{event.end | date}}</time>
		</p>
		<p class="text">
			{{event.place.text}}
		</p>
		<p class="detail">
			{{event.place.detail}}
		</p>
		<a class="btn btn-primary btn-block signup" href="{{event.signup}}" title="sign up" target="_blank" ng-if="event.signup">&hearts; sign up &hearts;</a>
		<div class="map">
			<a title="Open location with Google Maps" href="{{event.place.maplink}}" target="_blank">
				<img alt="map" ng-src="http://maps.googleapis.com/maps/api/staticmap?size=330x330&zoom=15&center={{event.place.lat}},{{event.place.lng}}&markers={{event.place.lat}},{{event.place.lng}}" />
			</a>
		</div>
	</li>
</ul>
<div id="sign-up-faq">
	<h4>How much does it cost?</h4>
	<p>
		Participating at our RG54 event will cost you nothing, niente, nada, nix. It is absoluetly <strong>free</strong> of charge. All we ask from you is your energy, your passion and your dedication.
	</p>
	<h4>How do I sign up?</h4>
	<p>
		If you want to sign up for a Rails Girls 54 event you just have to fill out a small form so that we know who you are. Once you've done that, you will be pre-registered and as soon as the sign up process is finished we will get back to you via email.
	</p>
	<h4>I am under 18 years old, can I still come?</h4>
	<p>
		Yes, of course you can! But first we need your legal guardian to <a href="assets/modulo_iscrizione_rg16.pdf" title="Sign up module" target="_blank">fill out this form</a> and send it to
		<address>
			Sven Helmer<br />
			Faculty of Computer Science<br />
			Piazza Domenicani 3<br />
			39100 Bolzano, Italy
		</address>
	</p>
	<h4>Does a sign up guarantee my participation?</h4>
	<p>
		Unfortunately we cannot confirm every sign up we get due to limited capacities. Usually we stretch our resources to the maximum and then still make room for a few extra-slots. However, we need to set an absolute limit of participants. This is only fair for everybody who attends these events - rails girls and tutors.
	</p>
	<h4>How do you choose who's participating?</h4>
	<p>
		We make use of the first-come-first-serve principle. This simply means that the faster you sign up, the more likely we will see you at the event.
		<br /> We will either confirm your participation after the sign up process closes or put you on our waiting list. Should one of the rails girls who got a confirmation not be able to make it, her seat may be yours.
	</p>
	<h4>I've got my confirmation, what now?</h4>
	<p>
		Congratulations, you are just one step away from being a rails girl! Just let us know that you are still in by replying to our confirmation email. Lots of things can change between sign up and confirmation and this way we can make sure that no seat will be empty.
	</p>
</div>
