<h2>Program</h2>
<div class="row">
	<div class="col-sm-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<td colspan="2">
						<h3>Friday</h3>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in program.friday">
					<td><time>{{item.time}}</time></td>
					<td>{{item.text}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<td colspan="2">
						<h3>Saturday</h3>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in program.saturday">
					<td><time>{{item.time}}</time></td>
					<td>{{item.text}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<td colspan="2">
						<h3>Sunday</h3>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in program.sunday">
					<td><time>{{item.time}}</time></td>
					<td>{{item.text}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
